<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804260999867-qjij25m3mb3e4pa6trbm1j9cqttpd54f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804260999867-qjij25m3mb3e4pa6trbm1j9cqttpd54f</string>
	<key>API_KEY</key>
	<string>AIzaSyDx_xMR0ndiwPExHFLrRYB-gVc2R6Cu6C8</string>
	<key>GCM_SENDER_ID</key>
	<string>804260999867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cubstart.GradeHub</string>
	<key>PROJECT_ID</key>
	<string>gradehub-9741b</string>
	<key>STORAGE_BUCKET</key>
	<string>gradehub-9741b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804260999867:ios:8704f6b8588404b158ef9e</string>
</dict>
</plist>